/*---------------------------------------------------------
Basic Style Sheet (for version 4 browsers)

version: 1.1
auther: Jolie Shaw
email: jolievfx@gmail.com
Info: make a Shadow Effect that support for browser:IE 5.5;
---------------------------------------------------------*/
.img-wrapper div {
	filter: progid: DXImageTransform.Microsoft.AlphaImageLoader (src='../../images/collection/mask.png', sizingMethod='crop');
}